.portfolio .container{
	position: relative;
}
@media(max-width: 767px){
	a.website1{
		position: absolute;
		left: 0;
		right: 0;
		top:320px;
		margin-left: auto;
		margin-right: auto;
		width: 60px;
	}
	a.website2{
		position: absolute;
		left: 0;
		right: 0;
		top:550px;
		margin-left: auto;
		margin-right: auto;
		width: 60px;
	}
	a.website3{
		position: absolute;
		left: 0;
		right: 0;
		top:790px;
		margin-left: auto;
		margin-right: auto;
		width: 60px;
	}
	a.website4{
		display: none;
	}
	a.website5{
		display: none;
	}
	a.website6{
		display: none;
	}
}
@media(min-width: 768px) and (max-width: 1199px){
	a.website1{
		position: absolute;
		left: 100px;
		top:380px;
		margin-left: auto;
		margin-right: auto;
		width: 60px;
	}
	a.website2{
		position: absolute;
		left: 0px;
		right: 0;
		top:380px;
		margin-left: auto;
		margin-right: auto;
		width: 60px;
	}
	a.website3{
		position: absolute;
		right: 100px;
		top:380px;
		margin-left: auto;
		margin-right: auto;
		width: 60px;
	}
	a.website4{
		display: none;
	}
	a.website5{
		display: none;
	}
	a.website6{
		display: none;
	}
}